@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayBlue:hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

* {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}
html {
  height: 100%;
}
body {
  background-color: var(--lightGray);
}
.card {
  background-color: rgb(43, 125, 250);
}
.cardNormalText {
  color: var(--lightGray);
}